<div class="page-header">
    <h1>Főoldal</h1>
</div>

<p>Üdvözlünk ezen a hipermenő szipi-szupi oldalon! Itt találod a legreceptebb recepteket a világon :3</p>
<p>A főzőcskézés elkezdéséhez be kell jelentkezned!</p>
